.header,footer{
    width: 100%;
    height: 100px;
}

.wrapper{

    height: 100%;
    display: flex;
    .sidenav{
        width: 300px;
        
    }
    .main{
        flex-grow: 1;
    }
}


// see

// https://dribbble.com/shots/16584880-Team-Management-Dashboard